* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    font: 800;
    color: blueviolet;
}

.musicstore {
    width: 90%;
    height: 100vh;
    /* background-color: blueviolet; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.song {
    margin: 2px 2px;
    width: 30%;
    height: 200px;
    border: 1px solid red;
    cursor: pointer;
}

.a {
    background: url('515854b67e497d4.jpg') no-repeat center center/cover;
    opacity: .5;
}

.b {
    background: url('download.jpg') no-repeat center center/cover;
    opacity: .5;
}

.c {
    background: url('download\ \(1\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.d {
    background: url('download\ \(2\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.e {
    background: url('download\ \(3\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.f {
    background: url('download\ \(4\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.g {
    background: url('download\ \(5\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.h {
    background: url('download\ \(6\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.i {
    background: url('images\ \(1\).jpg') no-repeat center center/cover;
    opacity: .5;
}

.musicstore {
    position: relative;
}

.musicstore::before {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url('images.png') no-repeat center center/cover;
    z-index: -3;
}